.blog-content {
    padding : 10px 30px;
    max-width: 100%;
}
.blog-creator {
    padding-left : 20px;
    max-width: 100%;
}
.blog-comment-wrap {
    padding : 0px 40px;
    max-width: 100%;
}
.blog-comment-content {
    padding : 10px 30px;
    max-width: 100%;
}
.blog-comment-creator {
    padding-left : 20px;
    max-width: 100%;
}

.padding-bot {
    padding-bottom: 15px;
}
.margin-lr {
    margin-left: 15px;
    margin-right: 15px;
}